# Python
__pycache__/
*.pyc

# Virtual environments
venv/
BTC/

# Logs
*.log

# IDE
.vscode/
.idea/

# Jupyter
notebook/
system_archtecture.md

# Environment files
.env

# Data files
data/*.csv
data/
deleted:    scripts/analytics/metrics.py
deleted:    scripts/engine/engine_controller.py
deleted:    scripts/engine/live_runner.py
deleted:    scripts/engine/process_candle.py
deleted:    scripts/executor/execution.py
deleted:    scripts/states/portfolio.py
deleted:    scripts/values/portfolio_value.py